:root {
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-dark-l: #545454;
  --color-dark-3xl: #292929;
  --color-dark-xl: #4c4c4c;
  --color-dark-s: #cdcdcd;
  --color-light-l: #f6f6f6;
  --color-light-xl: #ffffff;
  --color-light-s: #fafafa;

  --font-family-primary: 'Georgia', serif;
  --font-family-secondary: 'Arial', sans-serif;
  --font-weight-normal: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  /* width: 1280px; */
}

.wrapper {
  max-width: 75rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 120px;
  position: sticky;
  background-color: var(--color-light-xl);
  top: 0;
  left: 0;
}

.header__wrapper {
  padding-top: 30px;
}

.header__logo {
  display: flex;
  flex-direction: column;
}

.logo__title {
  color: var(--color-dark-l);
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  line-height: 110%;
}

.logo__subtitle {
  margin-top: 10px;
  color: var(--color-dark-3xl);
  font-family: var(--font-family-secondary);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 13px;
  letter-spacing: 0.09rem;
  line-height: 110%;
  text-align: center;
}

.menu {
  display: flex;
  width: 447px;
}

.menu__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__list-item {
  display: flex;
  align-items: center;
}

.menu__list-link {
  color: var(--color-dark-l);
  font-family: var(--font-family-secondary);
  font-size: 15px;
  line-height: 160%;
}

.menu__list-link_active {
  border-bottom: 3px solid var(--color-primary);
}

.menu__list-link_disabled {
  padding: 0 3px;
  color: var(--color-dark-l);
  border-bottom: 3px solid #f1cdb300;
}

.menu__list-link:hover {
  /* border-bottom: 3px solid var(--color-primary); */
  color: var(--color-dark-3xl);
}

.burger__menu {
  display: none;
}

.friends {
  height: 1342px;
  display: flex;
  margin: 0 auto;
  background-color: var(--color-light-l);
}

.friends__wrapper {
  max-width: 95rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: var(--color-light-l);
}

.friends__inner {
  margin-top: 59px;
  display: flex;
  justify-content: center;
}

.friends__title {
  margin-top: 80px;
  max-width: 400px;
  text-align: center;
  color: var(--color-dark-l);
  font-family: var(--font-family-primary);
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.friends__card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 40px;
}

.card {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  background: var(--color-light-s);
}

.card:hover {
  cursor: pointer;
  background: var(--color-light-xl);
}

.card-image {
  height: 270px;
  width: 270px;
}

.card-title {
  margin: 30px 0;
  font-family: var(--font-family-primary);
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
}

.card-button {
  width: 187px;
  height: 52px;
  margin: 0 41.5px;
  border-radius: 100px;
  background: var(--color-light-s);
  border: 2px solid var(--color-primary);
  font-family: var(--font-family-primary);
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
}

.card:hover .card-button {
  background: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
  cursor: pointer;
}

.slider__controls {
  margin-top: 60px;
  display: flex;
}

.slider__control:nth-child(even) {
  margin-right: 20px;
  margin-left: 20px;
}

.slider__control-first {
  padding: 12px 12px 15px 10px;
}

.slider__control-prev {
  padding: 12px 0 15px 16px;
}

.slider__control-disabled {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  background: transparent;
  border: 2px solid var(--color-dark-s);
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-dark-s);
}

.slider__control-current {
  width: 52px;
  height: 52px;
  padding: 12px 0 15px 19px;
  border-radius: 100px;
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
}

.slider__control-active {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  background: transparent;
  border: 2px solid var(--color-primary);
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
}

.slider__control-active:hover {
  background: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
  cursor: pointer;
}

.slider__control-next {
  padding: 12px 0 15px 18px;
}

.slider__control-last {
  padding: 12px 0 15px 11px;
}

.footer {
  height: 350px;
  background: url(../../assets/images/noise_transparent.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
}

.footer__wrapper {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.footer__content {
  margin-top: 31px;
  display: flex;
  gap: 150px;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__content-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__content-title {
  margin-top: 26px;
  color: var(--color-light-xl);
  font-family: var(--font-family-primary);
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.footer__content-mail {
  height: 46px;
  display: flex;
  align-items: center;
  margin-top: 28px;
}

.footer__content-phone {
  height: 46px;
  display: flex;
  align-items: center;
  margin-top: 27px;
}

.footer__content-location {
  height: 46px;
  display: flex;
  align-items: center;
  margin-top: 28px;
}

.footer__content-mail:hover,
.footer__content-phone:hover,
.footer__content-location:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.footer__content-link {
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.footer__content-icon {
  margin-right: 20px;
}

.footer__image {
  margin: 7px 8px 0 15px;
  width: 300px;
  height: 310px;
}

@media screen and (max-width: 1279px) {
  .wrapper {
    margin: 0 3%;
  }
  .header__logo {
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin: 0 3%;
  }
  .header__logo {
    margin-right: 9.48%;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .burger__menu {
    margin: 19px 53px 49px 0;
    padding: 0;
    display: block;
    height: 22px;
    width: 30px;
    z-index: 15;
    position: relative;
    cursor: pointer;
  }
  .burger__menu span,
  .burger__menu::before,
  .burger__menu::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #000000;
  }
  .burger__menu::before,
  .burger__menu::after {
    content: '';
  }
  .burger__menu::before {
    top: 0;
  }
  .burger__menu::after {
    bottom: 0;
  }
  .burger__menu span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .burger__menu.active span {
    transform: rotate(-90deg);
    transition-duration: 0.25s;
    background-color: #000000;
  }
  .burger__menu.active::before {
    top: 50%;
    transform: rotate(90deg) translateY(-10px);
    transition-duration: 0.25s;
    background-color: #000000;
  }
  .burger__menu.active::after {
    top: 50%;
    transform: rotate(90deg) translateY(10px);
    transition-duration: 0.25s;
    background-color: #000000;
  }
  .show {
    width: 620px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: absolute;
    z-index: 15;
    top: 0;
    right: 0;
    background-color: #000000;
    padding: 134px 0 463px 127px;
  }
  .show .header__nav-item {
    margin: 0;
  }
}
