:root {
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-dark-l: #545454;
  --color-dark-3xl: #292929;
  --color-dark-xl: #4c4c4c;
  --color-dark-s: #cdcdcd;
  --color-light-xl: #ffffff;
  --color-light-s: #fafafa;

  --font-family-primary: 'Georgia', serif;
  --font-family-secondary: 'Arial', sans-serif;
  --font-weight-normal: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  /* width: 1280px; */
}

.wrapper {
  max-width: 75rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 120px;
  position: relative;
  background-color: var(--color-light-xl);
  /* top: 60px; */
}

.header__wrapper {
  padding-top: 30px;
  position: sticky;
  top: 0;
}

.header__logo {
  display: flex;
  flex-direction: column;
}

.logo__title {
  color: var(--color-dark-l);
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  line-height: 110%;
}

.logo__subtitle {
  margin-top: 10px;
  color: var(--color-dark-3xl);
  font-family: var(--font-family-secondary);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 13px;
  letter-spacing: 0.09rem;
  line-height: 110%;
  text-align: center;
}

.menu {
  display: flex;
  width: 447px;
}

.menu__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__list-item {
  display: flex;
  align-items: center;
}

.menu__list-link {
  color: var(--color-dark-3xl);
  font-family: var(--font-family-secondary);
  font-size: 15px;
  line-height: 160%;
}

.menu__list-link_active {
  border-bottom: 3px solid var(--color-primary);
}

.menu__list-link_disabled {
  padding: 0 3px;
  color: var(--color-dark-l);
  border-bottom: 3px solid #f1cdb300;
}

.friends {
  height: 1342px;
  display: flex;
  margin: 0 auto;
  background-color: #f6f6f6;
}

.friends__wrapper {
  max-width: 95rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #f6f6f6;
}

.friends__inner {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.friends__title {
  margin-top: 80px;
  max-width: 400px;
  text-align: center;
  color: var(--color-dark-l);
  font-family: var(--font-family-primary);
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.friends__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 270px;
  height: 435px;
  margin: 15px 22px;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  background: #fafafa;
}

.card:hover {
  cursor: pointer;
}

.card-image {
  height: 270px;
  width: 270px;
}

.card-title {
  margin: 30px 0;
  font-family: var(--font-family-primary);
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
}

.card-button {
  /* margin-top: 30px; */
  width: 187px;
  height: 52px;
  margin: 0 41.5px;
  border-radius: 100px;
  background: #fafafa;
  border: 2px solid var(--color-primary);
  font-family: var(--font-family-primary);
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
}

.card-button:hover {
  background: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
  cursor: pointer;
}

.slider__controls {
  margin-top: 45px;
  display: flex;
}

.slider__control:nth-child(even) {
  margin-right: 20px;
  margin-left: 20px;
}

.slider__control-first {
  padding: 12px 12px 15px 10px;
}

.slider__control-prev {
  padding: 12px 0 15px 16px;
}

.slider__control-disabled {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  background: transparent;
  border: 2px solid var(--color-dark-s);
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-dark-s);
}

.slider__control-current {
  width: 52px;
  height: 52px;
  padding: 12px 0 15px 19px;
  border-radius: 100px;
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
}

.slider__control-current:hover {
  background: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
  cursor: pointer;
}

.slider__control-active {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  background: transparent;
  border: 2px solid var(--color-primary);
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
}

.slider__control-active:hover {
  background: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
  cursor: pointer;
}

.slider__control-next {
  padding: 12px 0 15px 18px;
}

.slider__control-last {
  padding: 12px 0 15px 11px;
}

.footer {
  background: url(../../assets/images/noise_transparent.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
}

.footer__wrapper {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.footer__content {
  margin-top: 56px;
  display: flex;
  flex-direction: row;
}

.footer__content-info {
  margin-right: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__content-title {
  color: var(--color-light-xl);
  font-family: var(--font-family-primary);
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.footer__content-mail,
.footer__content-phone,
.footer__content-location {
  height: 46px;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.footer__content-mail:hover,
.footer__content-phone:hover,
.footer__content-location:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.footer__content-link {
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.footer__content-icon {
  margin-right: 20px;
}

.footer__image {
  margin-top: 40px;
  width: 300px;
  height: 310px;
}
